{% extends 'ecommerce/base.html' %}

{% block body %}
    <div style="margin-top: 0px">
        {% for ticket in ticket_page %}
            <div style="margin-bottom: 40px">
                <p>Ticket name: {{ ticket.name }}</p>
                <p>Ticket start date: {{ ticket.start_time }}</p>
                <p>Ticket end date: {{ ticket.end_time }}</p>
                <p>Ticket hash: {{ ticket.hash_code }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if ticket_page.has_previous %}
            <a href="?page={{ ticket_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          {{ ticket_page.number }}
        </span>

        {% if ticket_page.has_next %}
            <a href="?page={{ ticket_page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}